body { 
	background-image: url('body-bg.jpg');
	width: 1200px;
	margin: auto;
}
h1, h4 {
	color: darkred!important;
}
h3, h4 {
	text-align: center;
	color: #6a6969;
}
strong {
	color: red;
}
a {
	color: white;
	text-decoration: none;
	
}
a strong {
	font-style: italic;
	font-weight: bold;
	color: blue;
}
header, section, main, footer {
	background-color: #222222;
}
nav {
	text-align: center;
}
p, ul {
	color: #6a6969;
}
footer {
	border: 3px, solid black;
	padding: 20px;
	margin: 20px;
	border-radius: 8px;
}
main {
	padding: 20px;
	margin: auto;
}
main>img {
	width: 300px;
}
header {
	display: flex;
	align-items: center;
}
main {
	position: relative;
	height: 450px;	
	padding: 20px;
}
article {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 65%;
	height: 85%;
	padding: 15px;
}
aside {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 25%;
	padding: 15px;
}
article, aside {
	border-radius: 8px;
	border: 3px dashed #6a6969;
}
footer {
	display: flex;
	align-items: center;
}
