body { 
	background-image: url("fond.png");
	width: 1200px;
	margin: auto;
}
h1, h4 {
	color: lightblue;
	text-align: center;
}
h3, h4 {
	text-align: center;
	color: #6a6969;
}
div.diapo {
	/*text-align: center;*/
	margin: 0 auto;
	width: fit-content;
	background-color: lightgreen;
	padding: 20px;
	border-radius: 5% / 5%;
}
section {
	margin-bottom: 5%;
}
img {
	width: 150px;
}
p#deux {
	width: 25%;
}
button#next>img, button#prev>img {
	width: 20px;
}
button#next, button#prev {
	border-color:white;
	padding: 2px;
}
p#num {
		/*margin-left: 180px;*/
		margin-left: 20%;
		margin-right: 20%;
		font-weight: bold;
		color: darkgreen;
}
/*main {
	background-color: blue;
	width: 86%;
	margin: auto;
}*/
div.bas {
	margin-left: 15%;
	margin-right: 15%;
	position: absolute;
}
div.img {
	display: block;
	/*align-items: stretch;*/
}
p {
	text-align: center;
}
img {
	margin-right: 20px;
	margin-left: 20px;
}
div {
	display: flex;
	align-items: center;
	text-align: center;
}
