
body{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 50px 10px;
    background : linear-gradient(to right, #1BBEE7, #A4E163);
    position: relative;
    color: white;
}

header h1{
    font-size : 5rem;
}

header a, nav a, footer a:hover{
    transform:scale(1.05);
    transition: transform 0.4s;
}

img.logo:not(hover){
    
}
nav{
    background : linear-gradient(to right, #1BBEE7, #A4E163);
    
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div {
    display: flex;
    align-items: center;
}
nav div img{
    margin-right: 5px;
    width: 25px;
}
nav a, #searchDiv{
    margin : 10px;
    padding: 12px;
    background: #7DD44A;
    border-radius : 20px;
    text-decoration: none;
    color: white;
}
/*concerne les a du nav et les 4 logos*/
a:hover, #searchDiv:hover {
    transform : scale(1.05);
    transition: transform 0.4s;
}
a:not(hover), #searchDiv:not(hover) {
    transform : scale(1);
    transition: transform 0.4s;
}
#searchBar{
    border-radius: 15px;
}
.highlight{
    background-color: greenyellow;
}

h2{
    color: navy;
}


article, figure{
    margin: 75px 200px;
    padding: 20px;
}
#headOfBody {
    border:#004E64 2px dashed;
    border-radius: 25px;
    text-align: center;
}


.faireUnDon{
    background-color: #A4E163;
    border-radius: 40px;
    padding: 10px 50px;
    margin: 50px 200px;
}
.faireUnDon>h2 {
    color: navy;
    margin-left: 100px;
}.faireUnDon>h2:hover {
    transform: scale3d(1.15, 1.2, 1.5);
    transition: transform 0.4s;
}.faireUnDon>h2:not(hover) {
    transform: scale3d(1, 1, 1);
    transition: transform 0.4s;
}

#contact {
    max-width: 400px;
    border:#004E64 2px dashed;
    border-radius: 25px;
}


figure {
    display: flex;
}
figure>div {
    max-width: 800px;
}
figure>aside {
    margin: 100px 0px 0px 200px;
}
figure>aside>h2 {
    
}
figure>aside>a {
    text-decoration: none;
}


footer{
    display : flex;
    align-items: center;
    justify-content: space-between;
    margin : 20px 0;
    padding : 20px;
    background : #F6D82C;
    text-align: center;
}


footer>a img{
    width: 250px;
}

footer>img{
    width: 600px;
}

footer>div{
    display : flex;
    flex-direction: column;
    margin-right: 20px;
}

footer>div>a img{
    width: 40px;
    margin-top: 15px;
}





