
body{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 50px 10px;
    background : linear-gradient(to right, #1BBEE7, #A4E163);
    position: relative;
    color: white;
}

header h1{
    font-size : 5rem;
}

img.logo:hover{
    transform:scale(1.05);
    transition: transform 0.4s;
}


nav{
    margin: 10px 0;
    padding: 2px;
    background: linear-gradient(to right, #25A182, #00A5CF);
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 200px;
}

nav a{
    margin : 10px;
    padding: 12px;
    background: #7DD44A;
    border-radius : 20px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    transform : scale(1.05);
    transition: transform 0.4s;
}

h2{
    color: navy;
}


article, figure{
    margin: 75px 200px;
    padding: 20px;
}
#headOfBody {
    border:#004E64 2px dashed;
    border-radius: 25px;
    text-align: center;
}


.faireUnDon{
    background-color: #A4E163;
    border-radius: 40px;
    padding: 10px 50px;
    margin: 50px 100px;
}
.faireUnDon>h2 {
    color: navy;
    margin-left: 100px;
}.faireUnDon>h2:hover {
    transform: scale3d(1.15, 1.2, 1.5);
    transition: transform 0.4s;
}.faireUnDon>h2:not(hover) {
    transform: scale3d(1, 1, 1);
    transition: transform 0.4s;
}

#contact {
    max-width: 400px;
    border:#004E64 2px dashed;
    border-radius: 25px;
}


figure {
    display: flex;
}
figure>div {
    max-width: 800px;
}
figure>aside {
    margin: 100px 0px 0px 200px;
}
figure>aside>h2 {
    
}
figure>aside>a {
    text-decoration: none;
}


footer{
    display : flex;
    align-items: center;
    justify-content: space-between;
    margin : 20px 0;
    padding : 20px;
    background : #F6D82C;
    text-align: center;
}

footer img{
    height: 150px;
    background: #F6D82C;
}

footer img.center{
    text-align: center;
}

footer div.exter{
    display: flex;
    text-align: center;
    gap: 5px;
    flex-direction: row;
}

footer img.petit{
    height: 80px;
}





