main>article {
    margin: 150px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main>article>div, main>div {
    max-height: 300px;
    padding: 50px;
    border:#004E64 2px dashed;
    border-radius: 25px;
}

main>div {
    margin: 100px;
}

main>article>figure {
    display: flex;
    justify-content: space-between;
}
main>article>figure img {
    width: 300px;
    margin: 0px 50px 0px 50px
}


footer{
    display : flex;
    align-items: end;
    justify-content: space-between;
    margin : 20px 0;
    padding : 20px;
    background : #F6D82C;
    text-align: center;
}


footer>a img{
    width: 150px;
    margin-right: 100px;
}

footer>img{
    width: 600px;
}

footer>div{
    width: 200px;
    display : flex;
    justify-content: space-between;
}

footer>div>a img{
    width: 50px;
    margin-top: 15px;
}